@charset 'utf-8';

@use 'sass:math';
@use '../helper/function' as *;
@use '../helper/mixin';
@use '../setting/const';
@use '../setting/var';

/**
 * 팝업
**/


/** 상품 등록/수정 */
.m_popup-prod-manage {
	#{escape('.m...manage-form')} {
		.mm_syncer-manufacture {
			margin-left: 15px;
		}
	}
}

/** 세트 옵션 설정 */
.m_popup-setoption-register {
	.btn_add {
		display: block;
		margin: 40px auto;
		width: 150px;
		line-height: 35px;

		.ico_add {
			position: absolute;
			right: 0;
			bottom: 11px;
			left: 0;
		}
	}
}